table, th, td {
    border: 5px blue;
    border-separate: separate;
    padding: 10px;
}

table tr:nth-child(odd) {
    background-color: #00CC66;
}

table tr:nth-child(even) {
    background-color: #00CC66;
}


