<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Angular JS Calculator</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="angular.min.js"></script>
  <script src="cal.js"></script>
  <link rel = "stylesheet"
   type = "text/css"
   href = "cal.css" />
</head>
<body>
  <div ng-app="mainApp" align="center">
    <div container></div>
    <h2>Calculator</h2>
    <div ng-controller="CalCtrl">
        <table width="250px" height="300px" align="center">
            <tr>
                <td colspan="4">
                    <input type="text" style="text-align:right;font-family:arial black;font-size:20px; width: 236px; height:30px" name="output" id="res" value="{{output}}" disabled = "disabled">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <button title="Number 1" style="background-color:grey;font-family:arial black;width:56px" ng-click="press('1')">1</button>
                    <button title="Number 2" style="background-color:grey;font-family:arial black;width:56px" ng-click="press('2')">2</button>
                    <button title="Number 3" style="background-color:grey;font-family:arial black;width:56px" ng-click="press('3')">3</button>
                    <button title="Operate +" style="background-color:blue;font-family:arial black;width:56px" ng-click='operate("+")' >+</button>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <button style="background-color:grey;font-family:arial black;width:56px" ng-click="press('4')">4</button>
                    <button style="background-color:grey;font-family:arial black;width:56px" ng-click="press('5')">5</button>
                    <button style="background-color:grey;font-family:arial black;width:56px" ng-click="press('6')">6</button>
                    <button title="Operate -" style="background-color:blue;font-family:arial black;width:56px" ng-click='operate("-")' >-</button>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <button title="Number 7" style="background-color:grey;font-family:arial black;width:56px" ng-click="press('7')">7</button>
                    <button title="Number 8" style="background-color:grey;font-family:arial black;width:56px" ng-click="press('8')">8</button>
                    <button title="Number 9" style="background-color:grey;font-family:arial black;width:56px" ng-click="press('9')">9</button>
                    <button title="Operate *" style="background-color:blue;font-family:arial black;width:56px" ng-click='operate("*")' >x</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button title="Number 0" style="background-color:grey;font-family:arial black;width:56px" ng-click="press('0')">0</button>
                    <button title="." style="background-color:grey;font-family:arial black;width:56px" ng-click="press('.')">.</button>
                    <button title="Clear all" style="background-color:blue;font-family:arial black;width:56px" ng-click="output = '0'">C</button>
                    <button title="Operate ÷" style="background-color:blue;font-family:arial black;width:56px" ng-click='operate("/")' >÷</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button style="background-color:aqua;font-family:arial black;width:175px" ng-click="equal()">=</button>
                    <button title="Delete" style="background-color:blue;font-family:arial black;width:56px" ng-click="press('x')">&#9003;</button>
                </td>
            </tr>
        </table>
        <span align="center" style="color:red">{{msg}}</span>
    </div>
  </div>
</body>
</html>